# http://editorconfig.org
root = true

[*.{kt, kts}]
indent_size = 4
continuation_indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.md]
trim_trailing_whitespace = false
