name: Kotlin Demo Workflow

on:
  pull_request:
    branches:
      - development

    types: [opened, synchronize, reopened, ready_for_review]

env:
  CI: true

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-18.04
    if: github.event.pull_request.draft == false

    steps:
      - uses: actions/checkout@v2

      - name: Make checksum executable
        run: chmod +x ./checksum.sh

      - name: Generate cache key
        run: ./checksum.sh checksum.tx

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('checksum.txt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

  check-style:
    needs: setup
    name: Check Style
    runs-on: ubuntu-18.04
    if: github.event.pull_request.draft == false

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('checksum.txt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run Static Code Analysis
        uses: eskatos/gradle-command-action@v1.5.1
        with:
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true
          arguments: lintRelease ktlintCheck detekt spotlessCheck --scan
        id: gradle

      - name: (Fail-only) Comment Build Scan Url
        uses: actions/github-script@v4
        if: github.event_name == 'pull_request' && failure()
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '❌ ${{ github.workflow }} failed: ${{ steps.gradle.outputs.build-scan-url }}'
            })

      - name: (Fail-only) Bundle the build report
        if: failure()
        run: find . -type d -name 'reports' | zip -@ -r build-reports.zip

      - name: (Fail-only) Upload the build report
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: error-report
          path: build-reports.zip

  build:
    needs: check-style
    name: Build
    runs-on: ubuntu-18.04
    if: github.event.pull_request.draft == false

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('checksum.txt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Asemble Artifact
        uses: eskatos/gradle-command-action@v1.5.1
        with:
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true
          arguments: assembleRelease --scan
        id: gradle

      - name: Upload Sample Artifacts
        uses: actions/upload-artifact@v2
        if: ${{ github.base_ref }} == 'master'
        with:
          name: artifact
          path: app/build/outputs/apk/

      - uses: actions/checkout@master
      - uses: codecov/codecov-action@v2
        with:
          flags: unittests
          fail_ci_if_error: true
          verbose: true

      - name: Comment Build Scan Url
        uses: actions/github-script@v4
        if: github.event_name == 'pull_request' && failure()
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '❌ ${{ github.workflow }} failed: ${{ steps.gradle.outputs.build-scan-url }}'
            })

  test:
    needs: build
    name: Unit Test
    runs-on: ubuntu-18.04
    if: github.event.pull_request.draft == false

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('checksum.txt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run Unit Tests
        uses: eskatos/gradle-command-action@v1.5.1
        with:
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true
          arguments: testReleaseUnitTest

      - name: Upload Test Results
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: Test Results
          path: app/build/test-results
